<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        {% load dicttag %}
    </head>

    <body>
        <div class="container-fluid">
            <div class="jumbotron" style="margin-top:20px;">
                <form action="" class="form-inline" method="post">
                    <select name="table" class="table-primary form-control table-lg inputstl  mb-3 ">
                        <option value="">Select an entity</option>
                        {% for table in tables %}
                        <option value="{{table}}">{{table}}</option>
                        {% endfor %}
                    </select>
                    <div class="input-group form-group mb-3 col-auto">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-lg">Field</span>
                        </div>
                        <div class="custom-file">
                            <input type="text" class="form-control"  name="column" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Entity field">
                        </div>
                    </div> 
                    <div class="input-group form-group mb-3 col-auto">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-lg">Value</span>
                        </div>
                        <div class="custom-file">
                            <input type="text" class="form-control"  name="value" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Value for selected field">
                        </div>
                    </div>
                    <div class="btn-group btn-pill  mb-3  ">
                        <input class= "btn btn-primary "  name="search"  type="submit" value="Search">
                        <input class= "btn btn-success "  name="insert"  type="submit" value="Insert">
                        <input class= "btn btn-danger"  name="delete"  type="submit" value="Delete">
                    </div>
                    {% csrf_token %}
                </form>
                <table class="table table-hover table-dark table-striped  table-bordered table-active">
                    <thead class= "table-active">
                        <tr >
                            {% for h in header %}
                            <th>{{h}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}
                        <tr>
                            {% for h in header %}
                            <td>{{d|get_value:h}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>

</html>