<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load dicttag %}
</head>

<body>
    <a href="insert">Insert page!</a>
    <br>
    <form method="post">
        <select name="table">
            <option value="">Select an entity</option>
            {% for table in tables %}
            <option value="{{table}}">{{table}}</option>
            {% endfor %}
        </select>
        <input type="text" name="column" placeholder="Entity field">
        <input type="text" name="value" placeholder="Value for selected field">
        <input type="submit" name="search" value="Search">
        <input type="submit" name="delete" value="Delete">
        {% csrf_token %}
    </form>
    <table>
        <thead>
            <tr>
                {% for h in header %}
                <th>{{h}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                {% for h in header %}
                <td>{{d|get_value:h}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>